<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <!-- set viewport to device width to make site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
  <ul>
    <li>Username: {{user.username}}</li>
    <li>Fullname: {{user.firstName}} {{user.lastName}}</li>
    <li>Age: {{user.age}}</li>
  </ul>
</body>
</html>
